.first__home {
	background-image: url('../../../public/img/firstHome/fon.jpg');
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 50px;
	background-position: top;
}

.width {
	width: 1100px;
	margin: 0 auto;
}

.first__home__content__top {
	width: 100%;
	height: 837px;
	display: flex;
	margin-top: 18px;
	align-items: center;
}

.first__home__content__top__mobile {
	display: none;
}

.first__home__content__top__left {
	width: 40%;
	padding-right: 53px;
}

.first__home__content__top__left h1 {
	font-weight: 600;
	font-size: 40px;
	margin-bottom: 10px;
}

#content__top__left__h1__color {
	color: #FF5000;
}

.first__home__content__top__left h4 {
	font-weight: 400;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.51);
	font-family: 'Poppins', sans-serif;
}

.first__home__content__top__left__button {
	border: none;
	padding: 10px 36px;
	background-color: #1E90FF;
	border-radius: 33px;
	transition: 0.2s;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin-top: 40px;
	cursor: pointer;
}

.first__home__content__top__left__button:hover {
	border: solid 2px #1E90FF;
	background-color: white;
	transition: 0.2s;
	padding: 14px 36px;
	margin-top: 36px;
}

.first__home__content__top__left__button a {
	font-weight: 600;
	font-size: 20px;
	color: white;
	transition: 0.2s;
}

.first__home__content__top__left__button:hover a {
	color: #1E90FF;
	transition: 0.2s;
}

.first__home__content__top__left__statistics {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}

.first__home__content__top__left__statistics h2 {
	font-weight: 600;
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
}

.first__home__content__top__left__statistics h3 {
	font-weight: 400;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.51);

}

.first__home__content__top__left__statistics__content {
	width: 120px;
}

.first__home__content__top__right {
	width: 60%;

}

.first__home__content__top__right img {
	width: 100%;
	height: 100%;
}

.first__home__content__top__link {
	width: 100%;
	height: 125px;
	background-color: white;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.first__home__content__top__link a.link__google {
	background-image: url('../../../public/img/firstHome/google.svg');
	display: block;
	width: 160px;
	height: 54px;
	transition: 0.2s;
}

.first__home__content__top__link a.link__google:hover {
	background-image: url('../../../public/img/firstHome/google__active.svg');
}

.first__home__content__top__link a.link__instagram {
	background-image: url('../../../public/img/firstHome/instagram.svg');
	display: block;
	width: 243px;
	height: 83px;
	transition: 0.2s;
}

.first__home__content__top__link a.link__instagram:hover {
	background-image: url('../../../public/img/firstHome/instagram__active.svg');
}

.first__home__content__top__link a.link__facebook {
	background-image: url('../../../public/img/firstHome/facebook.svg');
	display: block;
	width: 200px;
	height: 45px;
	transition: 0.2s;
}

.first__home__content__top__link a.link__facebook:hover {
	background-image: url('../../../public/img/firstHome/facebook__active.svg');
}

.servese {
	width: 100%;
	text-align: center;
	margin-top: 160px;
}

.servese h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 48px;
}

.servese img {
	width: 100%;
	margin-top: 70px;
}

.servese__mobile {
	display: none;
}

.servise__info {
	width: 100%;
	height: 602px;
	display: flex;
	margin-top: 110px;
}

.servise__info__left {
	width: 50%;
	height: 100%;
}

.servise__info__left img {
	width: 100%;
	height: 100%;
}

.servise__info__right {
	width: 50%;
	display: flex;
	align-items: center;
}

.servise__info__right__mobile {
	display: none;
}

.servise__info__right__position h2 {
	font-weight: 600;
	font-size: 45px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 16px;
}

.servise__info__right__position h4 {
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	opacity: 0.6;
	margin-bottom: 50px;
}

.servise__info__right__position__checked {
	display: flex;

}

.servise__info__right__position__checked__items {
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.servise__info__right__position__checked__items img {
	margin-right: 8px;
}

.checked__items__indent {
	margin-bottom: 20px;
}

.servise__info__right__position h3 {
	font-weight: 600;
	font-size: 16px;
}

.servise__info__right__position__button {
	padding: 12px 24px;
	background-color: #1E90FF;
	border-radius: 28px;
	transition: 0.2s;
	border: none;
	cursor: pointer;
	margin-top: 59px;
}

.servise__info__right__position__button a {
	color: white;
	font-weight: 600;
	font-size: 16px;
	transition: 0.2s;
}

.servise__info__right__position__button:hover {
	border: solid 2px #1E90FF;
	background-color: white;
	transition: 0.2s;
	padding: 16px 24px;
	margin-top: 55px;
}

.servise__info__right__position__button:hover a {
	color: #1E90FF;
	transition: 0.2s;
}

.firstHome__video__item {
	width: 100%;
}

ne .firstHome__video__item video {
	width: 100%;
}

.content__bottom {
	width: 100%;
	height: 1100px;
	background-color: white;
	position: relative;
}

.content__bottom__comments {
	width: 100%;
	height: 600px;
	background: rgba(30, 144, 255, 0.4);
	padding-top: 84px;
}

.content__bottom__comments__mobile {
	display: none;
}

.content__bottom__comments__txt {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content__bottom__comments__txt h2 {
	font-weight: 700;
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
}

.content__bottom__comments__txt__button {
	padding: 20px 70px;
	background-color: #1E90FF;
	border-radius: 65px;
	border: none;
	cursor: pointer;
	transition: 0.2s;
}

.content__bottom__comments__txt__button:hover {
	border: solid 2px #1E90FF;
	background-color: white;
}

.content__bottom__comments__txt__button a {
	color: white;
	font-weight: 600;
	font-size: 16px;
	transition: 0.2s;
}

.content__bottom__comments__txt__button:hover a {
	color: #1E90FF;
}

.content__bottom__content {
	display: flex;
	justify-content: space-between;
	margin-top: 90px;
}

.content__bottom__content__item {
	width: 346px;
	height: 285px;
	background-color: white;
	border-radius: 16px;
	padding: 32px 20px 0 29px;
	box-sizing: border-box;
}

.content__bottom__content__item__foto {
	display: flex;
	margin-bottom: 40px;
}

.content__bottom__content__item__foto img {
	margin-right: 10px;
}

.content__bottom__content__item__foto__name h3 {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 10px;
}

.content__bottom__content__item h4 {
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	opacity: 0.6;
	margin-bottom: 8px;
}

#border {
	margin-bottom: 16px;
}

.content__bottom__button {
	width: 600px;
	height: 200px;
	background-color: #1E90FF;
	border-radius: 100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 585px;
	text-align: center;
	padding: 18px 91px 0 91px;
	box-sizing: border-box;
	z-index: 1;
}

.content__bottom__button h2 {
	font-weight: 700;
	font-size: 36px;
	color: white;
}

.content__bottom__button__link {
	width: 109px;
	height: 46px;
	background-color: white;
	border: none;
	border-radius: 32px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.322);
	cursor: pointer;
	transition: 0.2s;
	margin-top: 14px;
}

.content__bottom__button__link:hover {
	height: 54px;
	transition: 0.2s;
	margin-top: 12px;
}

.content__bottom__button__link a {
	font-weight: 600;
	font-size: 16px;
}

.content__bottom__comments__txt__button__position__mobile {
	display: none;
}

@media screen and (max-width: 1400px) {
	.width {
		width: 950px;
	}

	.servise__info__left {
		width: 60%;
		height: 100%;
	}

	.servise__info__right {
		width: 40%;
		display: flex;
		align-items: center;
	}

	.content__bottom__content__item {
		width: 300px;
	}
}

@media screen and (max-width: 960px) {

	.mobile__none {
		display: none;
	}

	.servise__info {
		margin-top: 0;
	}

	.first__home {
		background-image: url('../../../public/img/firstHome/mobile/fon__mobile.jpg');
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;

	}

	.width {
		width: 700px;
	}

	.first__home__content__top {
		height: 400px;
	}

	.first__home__content__top__left h1 {
		font-size: 30px;
	}

	.first__home__content__top__left h4 {
		font-size: 20px;
	}


	.first__home__content__top__mobile button {
		padding: 20px 34px;
	}

	.first__home__content__top__mobile {
		width: 100%;
		text-align: center;
		display: block;
	}



	.first__home__content__top__left__statistics__mobile {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
	}

	.servese__mobile {
		display: block;
		width: 100%;
		height: 450px;

		margin-top: 40px;
	}

	.servise__info {
		display: block;
		height: auto;
	}

	.servise__info__left {
		width: 70%;
		height: 450px;
		margin: 0 auto;
	}

	.servise__info__right {
		width: 100%;
		text-align: center;
	}

	.servise__info__right__mobile {
		display: block;
		text-align: center;
	}

	.servise__info__right__position__checked {
		justify-content: space-evenly;
	}

	.servise__info__right__position__button {
		padding: 18px 60px;
		margin-bottom: 50px;
	}

	.servise__info__right__position__button a {
		font-weight: 600;
		font-size: 20px;
	}

	.content__bottom__comments__txt h2 {
		font-weight: 700;
		font-size: 24px;
	}

	.content__bottom__content {
		margin-top: 15px;
	}

	.content__bottom {
		height: 550px;
	}

	.content__bottom__comments__mobile {
		display: block;
	}

	.content__bottom__content {
		gap: 20px;
		flex-wrap: wrap;
	}

	.content__bottom__content__item {
		margin-bottom: 20px;
		width: 340px;
	}

	.content__bottom__content__item:last-child {
		margin-bottom: 0;
	}

	.content__bottom__comments__txt__button__position__mobile {
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 38px;
	}

	.first__home__content__top__left__statistics__mobile h2 {
		font-weight: 600;
		font-size: 40px;

	}

	.first__home__content__top__left__statistics__mobile h3 {
		font-weight: 400;
		font-size: 16px;
		color: rgba(0, 0, 0, 0.51);
	}

}

@media screen and (max-width: 730px) {

	.width {
		width: 500px;
	}

	.first__home__content__top {

		height: 300px;

	}

	.first__home__content__top__left h1 {
		font-size: 24px;
	}

	.first__home__content__top__left h4 {
		font-size: 16px;
	}

	.content__bottom__content__item {
		width: 400px;
	}

	.servise__info__left {
		width: 90%;
	}

}

@media screen and (max-width: 520px) {

	.width {
		width: 350px;
	}

	.first__home__content__top {
		height: 200px;
	}

	.first__home__content__top__left {
		width: 40%;
		padding: 0;
	}

	.first__home__content__top__left h1 {
		font-size: 16px;
	}


	.first__home__content__top__left h4 {
		font-size: 12px;
	}

	.first__home__content__top__right {
		height: 300px;
		width: 60%;
	}

	.first__home__content__top__mobile button {
		padding: 14px 26px;
	}

	.first__home__content__top__mobile button a {
		font-size: 16px;
	}

	.first__home__content__top__left__statistics__mobile h2 {
		font-size: 32px;
	}

	.first__home__content__top__left__statistics__mobile h3 {
		font-size: 14px;
	}

	.servese__mobile {
		height: 330px;
	}

	.servise__info__left {
		width: 100%;
	}

	.servise__info__right__position h2 {
		font-size: 36px;
	}

	.servise__info__right__position__button {
		padding: 14px 26px;
	}


	.servise__info__right__position__button {
		font-size: 16px;
	}

	.content__bottom__comments__txt__button {
		padding: 14px 26px;
	}

	.content__bottom__comments__txt__button {
		font-size: 16px;
	}


}